.image-detail {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  font-family: "Lato", sans-serif;
}

.image-detail-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.go-back-button {
  display: inline-block;
  margin: auto;
  margin-top: 20px;
  background-color: #ced5de;
  border: none;
  height: 37px;
  width: 210px;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.image-detail-description {
  margin: 15px 0px;
  padding: 10px 50px 25px;
  flex-wrap: wrap;
  font-size: 18px;
  background-color: #e9edf2;
}

.image-detail-photo {
  width: auto;
}
